body{
    text-align: center;
    
    /* 画像ファイルの指定 */
    background-image: url(images/picture.jpg);
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #f0f8ff;
}

.header{
    margin-top: 10%;
}

.affiliation{
    margin-top: 10px;
}

.icon{
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: relative;
}

.header h1{
    margin-top: 30px;
    font-size: 170%;
    color: #01193e;
}

.affiliation h2{
    margin-top: 25px;
    font-size: 120%;
}

.affiliation h2 a{
    color: #2c3748;
}

.affiliation h3 a{
    color: #676e79;
}

.affiliation h3{
    margin-top: 0px;
    font-size: 100%;
}

.affiliation a:hover{
    text-decoration: none;
}

.affiliation h2 a:hover{
    color: #444444;
}

.affiliation h3 a:hover{
    color: #444444;
}

.portrait{
    border-radius: 100%;
    width: 180px;
    height: auto;
}

hr{
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #cccccc;
    height: 1px;
    width: 350px;
}

.footer{
    float: clear;
}

.links{
    margin: 10px;
    width: 30px;
}
